*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(252, 220, 160); 
    margin: 0 auto;
}
#left{
    border: 1px solid white;
    border-radius:  15px 0 0 15px;
    background-color: white;
    padding: 40px 40px;
    width: 100%;
}
#head{
    display: flex;
    margin: 50px 50px;
    border: none;
    border-radius: 15px;
  
}
.header1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}
.hdr{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
    
}
#cont{
    margin-bottom: 40px;
}
.contacts{
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
}

/* FORM CARD */
.input {
    margin-bottom: 20px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    outline: none;
    background-color: transparent;
}
#right {
    background: rgba(35, 56, 85, 255);
    color: white;
    padding: 40px 40px;
    border-radius: 0 15px 15px 0;
    width: 100%;
}
.cont {
    padding-bottom: 20px;
}
.form {
    width: 100%;
    color: white;
}

input {
    padding: 10px;

}

.val {
    width: 100%;
    margin: auto;
}
button {
    padding: 8px 15px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    border: none;

}
.input:hover{
    border: 3px solid rgb(187, 187, 187);
    transition: all 0.3s ease-in-out;
}